html
	head
		script(src='lib/jquery.min.js')
		script(src='lib/socket.io.js')
		
		link(rel='stylesheet' type='text/css' href='semantic/semantic.min.css')
		script(src='semantic/semantic.min.js')
		
		link(rel='stylesheet' type='text/css' href='css/mainstyle.css')
		
		script
			include js/console.js
		
	body(style='background: #D8D8D8')
		div#console(class='ui container')
			li Initializing console...