// Select streams to display

div(class='ui container')
	h3(class='ui header') Available signal streams
	div#streamList(class='ui center aligned container')
		table(class='ui celled padded table')
			thead
				tr
					th(class='single line') Name
					th Stream Token
					th X-axis Label
					th Y-axis Label
					th Points
					th Selected
			tbody
