// streamTab.jade
// Contents of the stream tab

div(class='ui stream container')
	h4(class='ui header') First stream
	div(class='ui container')
		iframe#stream1(frameborder='0' seamless='seamless' scrolling='no' src='https://plot.ly/~JussiLehtiniemi/30.embed')
	h4(class='ui header') Second stream
	div(class='ui container')
		iframe#stream2(frameborder='0' seamless='seamless' scrolling='no' src='https://plot.ly/~JussiLehtiniemi/115.embed')
		